@{
    Layout = "_Layout";
}

<div class="container">


    <div style="margin-top:25px" class="text-center">
        <h1 class="display-4">Buraya bakarlar</h1>
        <p>Learn about <a href="#">Örnek</a>.</p>
    </div>
</div>