@{
    Layout = "_Layout";
}

<div class="container">
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ana Sayfa</a>
        </div>
    </nav>
</div>
