@using MVC_dataTransferTwo.Models;
@{
    Layout = "_Layout";
}
@model Animal

<p>Hayvanın ID sı ----> @Model.Id</p>
<p>Hayvanın adı ----> @Model.name</p>
<p>Hayvanın Yemeği ----> @Model.LikedFood</p>
<hr />  

for ile köpkelerin listesi

